body {
    margin: 0;
}

/*.horizontal-button {*/
/*margin-right: 8pt;*/
/*}*/

/*root {
    flexGrow: 1;
}*/

.flex {
    flex: 1;
}

.menuButton {
    marginLeft: -12;
    marginRight: 20;
}

.test {
    color: blue;
    padding: 100px;
    background-color: red;
}

.toolbar {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    margin-left: 16pt;
    margin-right: 16pt;
    align-items: center;
}